@charset "UTF-8";

/*
table {
	font-size : 20px;
}

input{
	width : 200px;
	height : 30px;
}

.btn{
	width: 150px;
	font-size: 16px;
	margin-top : 30px;	
}
*/

h1{
	text-align : center;
	margin-top : 150px;
}

#center-content{
	display : flex;
	justify-content : center;
	margin-top : 60px;
}


#btn-login{
	margin-top : 25px;
	width: 265px;
}

#idInput{
	margin-bottom : 20px;
}

#userId{
	margin-left: 15px;
}

label{
	margin-right : 10px;
}

